@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	background: black;
	min-width: 100%;
	min-height: 100vh;
	font-family: 'Work Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
